/*
    --Configurações Básicas--
    Zerando bordas para ter maior domínio sobre o box
    [*] para cada elemento do html e aplica essas propriedades
    -- Color combination --
    Soft Slippers {Champagne #FFF0DF -- Salmon #F0C9B3 -- Misty Blue #F8FAFD -- Taupe #B4AAA9}
    Sun and Sand {Taupe #AA9C92 -- Blue Gray #A2A3AA -- Champagne #F7E7CE -- White #FFFFFF}
 */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;  /*Facilita a manipulação da largura e altura dos elementos, calcula padding emargin incluidos no valor total*/
}

html {
    background-color: #F8FAFD;
    color: #555555;
    font-family: 'Lato', 'Arial', sans-serif;
    font-weight: 300;
    text-rendering: optimizeLegibility;/*renderiza a fonte para melhor leitura*/
    font-size: 20px ;
}

.row {
    /*background-color: #F0C9B3;*/
    max-width: 1200px; /*Define a largura maxíma da linha*/
    margin: 0 auto;  /*Define a largura maxíma da linha*/
}

header {
    background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)), url(img/img-hero-header.jpg);
    height:100vh; /* vh significa tamanho do viewport*/  /*Define a altura do elemento*/
    background-size: cover; /*Define tamamho da imagem de fundo*/
    background-position: center;    /*Define a posição da imagem de fundo*/    
    word-spacing: 5px;      /*Define o espaçamento entre palavras*/
    letter-spacing: 1px;    /*Define o espaçamento entre letras/caracteres*/
}

h1{
    margin: 0;
    margin-bottom: 35px;
    color: #F8FAFD ;
    font-size: 240%;
    text-transform: uppercase;  /*todas as letras em maiúsculo*/
    font-weight: 300;           /*Define a expessura da fonte*/
}

.hero-text-box {
    width: 1200px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);    /*Usamos transforme para diminuir o espaçamento/ distancia*/
}

.btn:link,
.btn:visited {
    text-decoration: none;   /*Define a decoração do texto , neste caso como era um link retiramos o sublinhado*/
    font-weight: 300;
    padding: 10px 30px;
    border-radius: 200px;
    border: 1px solid #E67E22;
    /*transition: ;*/
}

.btn-full:link,
.btn-full:visited {
    background-color: #E67E22;
    color: #F8FAFD;  
    margin-right: 10px;
}

.btn-ghost:link,
.btn-ghost:visited {
    color: #E67E22;
}

.btn-full:hover {
    background-color: #F8FAFD;
    border: 1px #F7EEE6 solid;
    color: #E67E22;
    font-weight: 500;
}

.btn-ghost:hover {
    background-color: #F8FAFD;
    border: 1px #F7EEE6 solid;
}

/*--Configurações do Menu--*/

.logo {
    height: 100px;      /*Define altura do elemento*/
    margin-top: 20px;   /*Define margem do elemento*/
    float: left;        /*Define que o elemento fica a esquerda*/
}

.main-nav {
    float: right;       /*Define que o elemento fica a direita*/
    list-style: none;  /*Define os marcadores*/
    margin-top: 20px;
}

.main-nav li {
    display: inline-block; /*Permite outros elementos na mesma linha*/
    margin-left: 40px;
}

.main-nav li a:link,
.main-nav li a:visited {
    color: #F7EEE6;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 90%;
    padding: 8px 0;
    transition: border-botton 0.2s;
}

.main-nav li a:hover {
    border-bottom: 2px solid #E67E22 ;
}

